@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --primary: #D43A72;
    /*--primary-foreground: 138 97% 35% */

    --secondary: #FFFFFF;
    /*--secondary-foreground: 0 0% 100%;*/
    --gray: #848484
      /*--background: 0 0% 4%;
    --foreground: 0 0% 100%;

    /*--card: 0 0% 4%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 100%;

    --primary: 138 97% 27%;
    --primary-ligth: 138 97% 35% --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 0% 9%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 9%;
    --input: 0 0% 9%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
    --darker: 0 2% 0%;
    --dark: 138 96% 19%;*/
  }
}

body {
  color: #656060;
  background-color: #ccc;
  font-family: var(--font-exo2);
  font-weight: 400;
}